.feature {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  padding: 6rem 0;
  border-top-right-radius: 6.25rem;
  border-bottom-left-radius: 6.25rem;
  background: linear-gradient($veryDarkGrayBlue, $veryDarkDesaturatedBlue);

  @include media(tablet) {
    padding: 3rem 0;
    background: linear-gradient(to right, $veryDarkGrayBlue, $veryDarkDesaturatedBlue);
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include media(tablet) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__image {
    margin-top: -12rem;

    @include media(tablet) {
      margin: -6rem 6rem -9rem -3rem;
      flex-basis: 50%;
    }

    img {
      width: 100%;
    }

  }

  &__text {
    text-align: center;

    @include media(tablet) {
      flex-basis: 50%;
      text-align: left;
    }

    h2 {
      margin-bottom: 1rem;
      color: white;
      font-size: 1.5rem;

      @include media(tablet) {
        margin-bottom: 2rem;
        font-size: 1.875rem;
      }
    }

    p {
      color: $grayishBlue;
      font-size: 0.75rem;
      line-height: 1.5rem;

      @include media(tablet) {
        font-size: 1rem;
      }
    }
  }
}