.features {
  display: flex;
  flex-direction: column;
  padding: 5.5rem 0 5.5rem 0;
  color: $veryDarkBlue;
  text-align: center;

  @include media(tablet) {
    flex-flow: row-reverse wrap;
    padding: 8rem 0 15rem 0;
    background: url('../images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-size: 47%;
    background-position: 110% center;
  }

  &__title {
    order: 0;

    @include media(tablet) {
      flex-basis: 100%;
    }

    h2 {
      margin-bottom: 2.5rem;
      font-size: 1.5rem;

      @include media(tablet) {
        margin-bottom: 4rem;
        font-size: 2.5rem;
      }
    }
  }

  &__text {
    order: 2;

    @include media(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      text-align: left;
    }

    h3 {
      margin: 3rem 0 1.625rem 0;
      font-size: 1.5rem;

      @include media(tablet) {
        margin: 3rem 0 1.625rem 0;
        font-size: 1.625rem;
      }
    }

    p {
      color: $veryDarkGraishBlue;
      font-size: 0.75rem;
      line-height: 1.5rem;

      @include media(tablet) {
        font-size: 1rem;
      }
    }
  }

  &__image {
    width: 100%;

    @include media(tablet) {
      display: none;
    }
  }
}